body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; /* Regular */
    line-height: 1.6; /* Melhor legibilidade */
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

h1, h2, h3 {
    font-weight: 700; /* Títulos mais marcantes */
}

/* Estilização para gráficos */
canvas {
    max-height: 400px;
    max-width: 100%; /* Garante responsividade */
}

#topItemsChart {
    max-height: 300px; /* Gráfico circular mais compacto */
}

/* Estilização específica para o card do gráfico de métodos de pagamento */
#paymentMethodsChart {
    max-height: 300px;
    max-width: 100%;
}


/* Main content */
.content {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
}

/* Resumo estilizado */
.summary {
    margin-bottom: 20px;
}

.summary .card {
    border: 1px solid #dee2e6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.summary .card-body {
    padding: 20px;
}

.summary .card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #495057;
}

.summary p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.summary .text-success {
    color: #28a745 !important;
}

.summary .text-primary {
    color: #007bff !important;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: relative;
    }
    .content {
        margin-left: 0;
    }
}
