body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; /* Regular */
    line-height: 1.6; /* Melhor legibilidade */
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
    nav {
        transform: translateX(-100%);
        position: fixed;
        z-index: 1000;
    }

    nav.open {
        transform: translateX(0);
    }

    .menu-toggle {
        display: block;
        position: fixed;
        top: 15px;
        left: 15px;
        background-color: #343a40;
        color: #ffffff;
        border: none;
        padding: 10px 15px;
        font-size: 20px;
        z-index: 1100;
        cursor: pointer;
        border-radius: 5px;
    }

    .menu-toggle:focus {
        outline: none;
    }
}

/* Ajustes do conteúdo principal */
.container {
    flex: 1; /* Faz com que ocupe o restante da altura */
 
    padding: 20px;
    box-sizing: border-box;
    transition: margin-left 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .container {
        margin-left: 0; /* Remove margem quando menu está oculto */
    }
}


@media (max-width: 768px) {
    .container {
        margin-left: 0;
    }
}

/* Cards e conteúdo */
.card {
    border-radius: 8px;
    margin-bottom: 20px;
}

.received .card-header {
    background-color: #f0f8ff;
    color: #0056b3;
}

.preparing .card-header {
    background-color: #fff3cd;
    color: #856404;
}

.completed .card-header {
    background-color: #d4edda;
    color: #155724;
}

.delivery .card-header {
    background-color: #cce5ff;
    color: #004085;
}

.order-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 8px;
    text-align: center;
    background-color: #fff;
}

.order-item button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}